@page
@model RepairWeb.Pages.Repair.AdminModel
@{
    <h1>Здесь представлены все нераспрелённые заявки</h1>
    <div class="table-responsive">
        <table class="table table-striped recipe">
            <thead>
                <tr>
                    <th>Оборудование</th>
                    <th>Дата создания</th>
                    <th>Клиент жалуется на</th>
                    <th>Назначить исполнителя</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model.Requests)
                {
                    <tr>
                        <td class="align-middle">@request.Equipment</td>
                        <td class="align-middle">@request.RequestDate.ToString("dd.MM.yyyy")</td>
                        <td class="align-middle">@request.ProblemDescription</td>
                        <td>
                            <form id="assignForm" method="post" asp-page-handler="Assign" onsubmit="return validateForm()">
                                <label for="executor">Выберите исполнителя:</label>
                                <select id="executor" name="ExecutorId" class="form-control">
                                    <option value="">-- Выберите исполнителя --</option>
                                    @foreach (var executor in Model.Executors)
                                    {
                                        <option value="@executor.Id">@executor.Name</option>
                                    }
                                </select>

                                <input type="hidden" name="RequestId" value="@request.RequestId" />

                                <button type="submit" class="btn btn-primary mt-2">Назначить</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <p>Список изъявивших желание стать манагером</p>
    <table class="table table-striped" id="ingredients">
        <thead>
        <tr>
            <th>Login</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @{
            for (int i = 0; i < Model.Candidates.Count; i++)
            {
                var candidate = Model.Candidates[i];
                <tr>
                    <td>@candidate.UserName</td>
                    <td>@candidate.FullName</td>
                    <td>

                        @{
                            var i1 = i;
                        }
                        <form method="post">
                            <input type="hidden" name="CandidateId" value="@candidate.Id" />
                            <button type="submit" asp-page-handler="Promote" class="btn btn-success">Назначить менеджером</button>
                            <button type="submit" asp-page-handler="Reject" class="btn btn-danger">Отказать</button>
                        </form>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
}


<script>
    function validateForm() {
        var executorSelect = document.getElementById("executor");

        if (executorSelect.value === "") {
            alert("Пожалуйста, выберите исполнителя.");
            return false;
        }
        return true;
    }
</script>